[submodule "onetbb"]
	path = onetbb
	url = git@github.com:oneapi-src/oneTBB.git
[submodule "taskflow"]
	path = taskflow
	url = git@github.com:taskflow/taskflow.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "lb4omp"]
	path = lb4omp
	url = https://github.com/lejabque/LB4OMP.git
