.gdb_history

# IDE
*.user
.idea
*.cbp
.vscode
.history
.cache/
build/
env/

# Google tests
googletest-build/
googletest-download/
googletest-src/
lib/

# Cmake
CMakeCache.txt
CMakeFiles/
cmake-build*
cmake_install.cmake
cmake_deps/

# raw benchmark results
raw_results
bench_results

sandbox/
