# IDE
*.user
.idea
*.cbp
.vscode

# Google tests
googletest-build/
googletest-download/
googletest-src/
lib/

# Cmake
CMakeCache.txt
CMakeFiles/
cmake-build*
cmake_install.cmake

# benchmarks
bench_results/
